:root {
  --dark-green: #6aa84f;
  --light-green: #b6d7a8;
  --light-text: white;
  --dark-text: black;
  --green: #8ed670;
}

.bg-green {
  background-color: var(--dark-green);
  box-shadow: 0px 1px 5px var(--light-green);
  border-color: var(--light-green);
}

.bg-green:hover {
  background-color: var(--green);
  box-shadow: 0px 1px 5px var(--green);
  border-color: var(--green);
}

.navbar-button {
  color: var(--dark-text);
  border-color: var(--dark-text);
  background-color: var(--light-green);
}

.navbar-button:hover {
  color: var(--dark-text);
  border-color: var(--dark-text);
  background-color: var(--green);
}

.navbar-title {
  font-size: x-large;
}

.navbar-bg {
  background-color: var(--dark-green);
  box-shadow: 0px 1px 5px var(--dark-green);
}

.container-green-bg {
  background-color: var(--light-green);
}

.home-button-fazer-parte {
  text-align: center;
}

.home-text-ranking {
  text-align: center;
}

.home-container-ranking {
  border-style: groove;
  border-color: green;
}

.home-table {
  border: 1px solid black;
  border-collapse: collapse;
}

.home-table-header-col1 {
  text-align: center;
  width: 80px;
  border: 1px solid black;
  border-collapse: collapse;
  background-color: grey;
}

.home-table-header-col2 {
  text-align: center;
  width: 90px;
  border: 1px solid black;
  border-collapse: collapse;
  background-color: grey;
}

.home-table-header-col3 {
  text-align: center;
  width: 230px;
  border: 1px solid black;
  border-collapse: collapse;
  background-color: grey;
}

.home-companies {
  background-color: white;
}

.perfil-usuario-imagem {
  width: 100%;
  max-width: 400px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.perfil-usuario-titulo {
  color: #6aa84f;
  text-align: center;
}

.usuario-tab{
  width: 25%;
}

.tabela{
  max-height: 250px;
  width: 100%;
  margin: 0; 
  overflow-y: 
  auto;
}

.cadastro-form{
  margin-top: 20px;
  margin-bottom: 20px;
}

.cadastro-tarefa-tabela-col1{
  width: 20%;
}

.cadastro-tarefa-tabela-col2{
  width: 20%;
}

.cadastro-tarefa-tabela-col3{
  width: 20%;
}

.cadastro-tarefa-tabela-col4{
  width: 20%;
}

.cadastro-tarefa-tabela-col5{
  width: 20%;
}

.botao-salvar-tarefa{
  margin-top: 2.8%;
}

.cadastro-recompensa-tabela-col1{
  width: 15%;
}

.cadastro-recompensa-tabela-col2{
  width: 15%;
}

.cadastro-recompensa-tabela-col3{
  width: 20%;
}

.cadastro-recompensa-tabela-col4{
  width: 20%;
}

.cadastro-recompensa-tabela-col5{
  width: 20%;
}

.cadastro-recompensa-tabela-col6{
  width: 10%;
}