:root {
  --dark-green: #6aa84f;
  --darkish-green: #598d43;
  --light-green: #b6d7a8;
  --lighter-green: #d0f0c3;
  --light-text: white;
  --dark-text: black;
  --green: #8ed670;
  --darker-green: #4b7439;
}

.bg-green {
  background-color: var(--dark-green);
  box-shadow: 0px 1px 5px var(--light-green);
  border-color: var(--light-green);
}

.bg-green:hover {
  background-color: var(--green);
  box-shadow: 0px 1px 5px var(--green);
  border-color: var(--green);
}

.navbar-button {
  border: none;
  border-radius: 10px;
  color: var(--dark-text);
  background-color: var(--light-green);
}

.navbar-button:hover {
  color: var(--dark-text);
  background-color: var(--darkish-green);
}

.navbar-title {
  font-size: x-large;
}

.navbar-bg {
  background-color: var(--dark-green);
  box-shadow: 0px 1px 5px var(--dark-green);
}

.container-green-bg {
  background-color: var(--light-green);
}

.home-button-fazer-parte {
  text-align: center;
}

.home-text-ranking {
  text-align: center;
}

.home-container-ranking {
  border-style: groove;
  border-color: green;
  background-color: white;
}

.home-table {
  border: 1px solid black;
  border-collapse: collapse;
}

.home-table-header-col1 {
  text-align: center;
  width: 80px;
  border: 1px solid black;
  border-collapse: collapse;
  background-color: grey;
}

.home-table-header-col2 {
  text-align: center;
  width: 90px;
  border: 1px solid black;
  border-collapse: collapse;
  background-color: grey;
}

.home-table-header-col3 {
  text-align: center;
  width: 230px;
  border: 1px solid black;
  border-collapse: collapse;
  background-color: grey;
}

.home-companies {
  background-color: white;
}

.perfil-usuario-imagem {
  width: 100%;
  max-width: 400px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.perfil-usuario-titulo {
  color: #6aa84f;
  text-align: center;
}

.usuario-tab {
  width: 20%;
}

.tabela {
  max-height: 250px;
  width: 100%;
  margin: 0;
  overflow-y: auto;
}

.cadastro-form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.cadastro-tarefa-tabela-col1 {
  width: 10%;
}

.cadastro-tarefa-tabela-col2 {
  width: 15%;
}

.cadastro-tarefa-tabela-col3 {
  width: 20%;
}

.cadastro-tarefa-tabela-col4 {
  width: 20%;
}

.cadastro-tarefa-tabela-col5 {
  width: 20%;
}

.cadastro-tarefa-tabela-col6 {
  width: 15%;
}

.botao-salvar-tarefa {
  margin-top: 2.8%;
}

.botao-cancelar-tarefa {
  margin-top: 2.8%;
  margin-left: 1%;
}

.botao-pesquisar {
  margin-top: 13%;
  margin-left: 1%;
}

.cadastro-recompensa-tabela-col1 {
  width: 10%;
}

.cadastro-recompensa-tabela-col2 {
  width: 10%;
}

.cadastro-recompensa-tabela-col3 {
  width: 60%;
}

.cadastro-recompensa-tabela-col4 {
  width: 10%;
}

.cadastro-recompensa-tabela-col5 {
  width: 10%;
}

.cadastro-tipotarefa-tabela-col1 {
  width: 25%;
}

.cadastro-titulo-tabela-col1 {
  width: 10%;
}

.cadastro-titulo-tabela-col2 {
  width: 10%;
}

.cadastro-titulo-tabela-col3 {
  width: 20%;
}

.cadastro-titulo-tabela-col4 {
  width: 40%;
}

.cadastro-titulo-tabela-col5 {
  width: 10%;
}

.cadastro-titulo-tabela-col6 {
  width: 10%;
}

.tarefa {
  min-height: 150px;
  background-color: #bff5bf;
  margin: auto;
  text-align: center;
}

.loja {
  min-height: 150px;
  background-color: #bff5bf;
  margin: auto;
  text-align: center;
}

.loja-valor {
  min-height: 50px;
}

.loja-comprar {
  min-height: 50px;
}

.loja-botao-comprar {
  margin-top: 5%;
}

.tarefaTexto {
  margin-top: 5%;
}

.titulo-col1 {
  width: 15%;
}

.titulo-col2 {
  width: 25%;
}

.titulo-col3 {
  width: 60%;
}

.icon-button {
  text-decoration: none;
}
.btn-primary {
  color: #fff;
  background-color: var(--dark-green);
  border-color: var(--dark-green);
}

.btn-primary:hover {
  color: #fff;
  background-color: var(--darker-green);
  border-color: var(--darker-green);
}
.btn-success {
  color: #fff;
  background-color: var(--dark-green);
  border-color: var(--dark-green);
}

.btn-success:hover {
  color: #fff;
  background-color: var(--darker-green);
  border-color: var(--darker-green);
}
.btn-inverted {
  color: var(--dark-green);
  background-color: #fff;
  border-color: var(--dark-green);
}

.btn-inverted:hover {
  color: #fff;
  background-color: var(--darker-green);
  border-color: var(--darker-green);
}

.perfil-usuario-imagem {
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
  border: 2px solid var(--light-green);
  object-fit: cover;
}
.edit-imagem-usuario {
  position: relative;
  float: right;
  right: 50px;
  bottom: 50px;
}
.edit-titulo-usuario {
  position: relative;
  float: right;
  top: -40px;
  right: 15px;
}

.drop-down {
  background-color: var(--light-green);
  border-radius: 10px;
  margin: 5px;
}
.drop-down:hover {
  background-color: var(--darkish-green);
}
.drop-down-item-frame {
  margin-top: -5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
}
.drop-down-item {
  padding-left: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--light-green);
  border-radius: 10px;
  margin: 5px;
}
.drop-down-item:hover {
  background-color: var(--dark-green);
}
.drop-down-item a {
  color: var(--dark-text);
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
}
.no-focus-box-shadow:focus {
  box-shadow: none;
}

.nav-tabs .nav-link {
  border: 1px solid var(--light-green);
}

.nav-tabs .nav-item {
  color: var(--dark-text);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.nav-item .nav-link {
  color: var(--dark-text);
  background-color: var(--light-text);
}
.nav-item .nav-link:hover {
  background-color: var(--light-green);
}
.nav-item .nav-link.active{
  color: var(--dark-text);
  background-color: var(--light-green);
  border-bottom: 1px solid transparent;
}

.tab-pane {
  border: 1px solid var(--light-green);
}

.preview-foto-post{
  width: 140px;
  height: 140px;
  object-fit: scale-down;
  display: block;
}

.image-tree{
  zoom: 1;
}

.container-image-tree{
  height: 50px;
  width: 50%;
}